# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Church and nonprofit fish fries in Milwaukee area for Lent 2026_files/*
Church and nonprofit fish fries in Milwaukee area for Lent 2026.html
.gitignore
scrape.py
2026 Lenten Fish Fry Listing - Catholic Herald.html
2026 Lenten Fish Fry Listing - Catholic Herald_files/*
